{% comment %} {{ width }} "width: 20%" {% endcomment %}
{% comment %} {{ valuenow }}  "20"  {% endcomment %}
{% comment %} {{ timeline_name }} Timeline Completion  {% endcomment %}
{% comment %} {{ percentage_complete }} 20%  {% endcomment %}

<h4 class="small font-weight-bold"> {{ timeline_name }} <span
    class="float-right">{{ percentage_complete }}</span></h4>
<div class="progress mb-4">
<div class="progress-bar bg-danger" role="progressbar" style="{{ width }}"
    aria-valuenow="{{ valuenow }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
