{% extends "dashboard/dashboard.html" %}

{% block page_content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create a new timeline</h1>
    </div>
    <!-- Content Row -->
    <div class="row">
        <form action="{{ registerUser }}" method="POST" id="timeline-event">
            {% csrf_token %}
            {{ event_creation_form }}
            <input type="submit" name="+">
        </form>
    </div>
</div>
{% endblock %}