{% extends "dashboard/dashboard.html" %}
{% load crispy_forms_tags %}
{% block page_content %}

<div class="container-fluid px-5">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create a new timeline</h1>
    </div>

	<div class="row" id="eventsRow">
		{% for i in maxEventNumbers %}
		<!-- Hide all created events except first -->
			{% if i > 0 %} 
				<div class="accordion pb-2 no-show" id="newTimeline{{i}}">
			{% else %}
				<div class="accordion pb-2" id="newTimeline{{i}}">
			{% endif %}
				<div class="accordion-item event-accordion" id="evAccordian{{i}}">
					<h2 class="accordion-header" id="eventNameAccordion{{i}}">
						<button id="cardTitle{{i}}" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{i}}" aria-expanded="true" aria-controls="collapse{{i}}">New Event</button>
					</h2>
					<div id="collapse{{i}}" class="accordion-collapse collapse show" aria-labelledby="heading" data-bs-parent="#newTimeline">
						<div class="accordion-body">
							{% load crispy_forms_tags %}
							{% csrf_token %}
							{% crispy form %}
						</div>
					</div>
				</div>
			</div>
			
		{% endfor %}
		<!--
		<div class="accordion pb-2" id="newTimeline1">
			<div class="accordion-item event-accordion" id="evAccordian1">
				<h2 class="accordion-header" id="eventNameAccordion1">
					<button id="cardTitle1" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">New Event</button>
				</h2>
				<div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="#newTimeline">
					<div class="accordion-body">
						{% load crispy_forms_tags %}
                        {% csrf_token %}
                        {% crispy form %}
					</div>
				</div>
			</div>
		</div>
		<div class="accordion pb-2" id="newTimeline2">
			<div class="accordion-item event-accordion" id="evAccordian2">
				<h2 class="accordion-header" id="eventNameAccordion2">
					<button id="cardTitle2" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">New Event</button>
				</h2>
				<div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="#newTimeline">
					<div class="accordion-body">
						{% load crispy_forms_tags %}
                        {% csrf_token %}
                        {% crispy form %}
					</div>
				</div>
			</div>
		</div>
		<div class="accordion pb-2" id="newTimeline3">
			<div class="accordion-item event-accordion" id="evAccordian3">
				<h2 class="accordion-header" id="eventNameAccordion3">
					<button id="cardTitle3" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">New Event</button>
				</h2>
				<div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="#newTimeline">
					<div class="accordion-body">
						{% load crispy_forms_tags %}
                        {% csrf_token %}
                        {% crispy form %}
					</div>
				</div>
			</div>
		</div>
	-->
	</div>
</div>

<script>
	let timeline = [];
	function createNewEvent(divNumber) {
		let submitButton = document.getElementById('createEvent');
		submitButton.style.display="None";
		let prevDivIndex = "collapse"+divNumber;
		let prevDiv = document.getElementById(prevDivIndex);
		prevDiv.className = 'accordion-collapse collapse';
		document.getElementById('cardTitle').className = 'accordion-button collapsed';
		let newDiv = prevDiv.cloneNodes(prevDiv);
		document.getElementById('eventRow').appendChild(newDiv);
	}

	function changeCardTitle() {
		let cardTitle = document.getElementById('cardTitle');
		let newTitle = document.getElementById('eventName').value;
		cardTitle.innerHTML = newTitle;
	}

	function validateForm() {
		let valid = false;
		if (valid == false) {
			changeCardTitle();
			createNewEvent();
			return false;
		} else {
			return true;
		}
	}
</script>
{% endblock %}
