<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content="The best new way to schedule"/>
		<meta name="author" content="timelined.live"/>
		<title>timelined.live - the best new way to schedule your business</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/7c50709be3.js" crossorigin="anonymous"></script>
		
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

			:root {
				--font-timelined-primary: "Poppins", sans-serif;
			}

			html, body {
				overflow: visible;
			}

			.nav-hero {
				color: black;
				font-family: var(--font-timelined-primary);
				font-size: 28px;
			}

			header.masthead {
				display: block;
				margin-top: 5rem;
			}

			div.page-container {
				position: relative;
				min-height: 100vh;
				overflow-x: hidden;
				overflow-y: hidden;
				max-width: 100%;
			}

			div.content-wrap {
				padding-bottom: 5rem;
				padding-top: 2.5rem;
			}

			div.footer-container {
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 10rem;
				padding-top: 5rem;
				padding-bottom: 2rem;
				background-color: rgb(40, 44, 52);
				color: white;
			}

			div.container-footer {
				background-color: rgb(40, 44, 52);
				color: white;	
				width: 100%;
			}

			.footer-brand {
				font-family: var(--font-timelined-primary);
				color: white;
				font-weight: bold;
				font-size: 28px;
				text-decoration: none;
			}

			div.page-nav {
				color: #727272;
				text-align: center;
			}

			img.features-image {
				display: block;
				max-width: 120%;
				margin-left: auto;
				margin-right: auto;
				text-align: left;
			}

			div.signup-container {
				background-color: #6392D9;
				border: 1px solid #6392D9;
				border-radius: 35px;
				max-height: 40rem;
				padding-bottom: 20rem;
				padding-left: 5rem;
				overflow: visible;
				margin-left: -0.5%;
			}

			aside.testimonial {
				background-color: rgb(247, 200, 78);
				color: rgb(219, 219, 219);
				padding-top: 5rem;
				padding-bottom: 5rem;
				margin-bottom: 5rem;
			}

			img.logos-overlay {
				width: 10rem;
			}

			.grayscale-filter {
				filter: gray; 
				-webkit-filter: saturate(0%) grayscale(100%) brightness(60%) contrast(10000000%);
				opacity: .3;
			}
		</style>
	</head>

	<!--
		https://www.timelined.live
		Authors:
			Uday Atragada
			Ivan Bondarenko
			Benji Margolis
			Matt Muir
			Winston Osei-Bonsu
		Contact:
			support@timelined.live

		Pittsburgh, PA 2022
	-->
	<body id="page-top">
		<!--
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand nav-hero" href="/">timelined.live</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-nav position-relative">
					<a class="nav-link end-0" href="#">Features</a>
					<a class="nav-link end-0" href="#">About</a>
					<a class="nav-link end-0" href="#">Contact</a>
					<button class="btn btn-success" type="button">Login</button>
				</div>
			</div>
		</nav>
		-->

		<!-- NAVIGATION -->
		<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm" id="mainNav">
			<div class="container px-5">
				<a class="navbar-brand fw-bold nav-hero" href="#page-top">timelined.live</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					Menu
					<i class="bi-list"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
						<li class="nav-item"><a class="nav-link me-lg-3" href="#features">Features</a></li>
						<li class="nav-item"><a class="nav-link me-lg-3" href="#contact">Contact</a></li>
						<li class="nav-item"><a class="nav-link me-lg-3" href="#signup" data-bs-toggle="modal" data-bs-target="#signUpModal">Sign Up</a></li>
					</ul>
					<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#loginModal">
						<span class="d-flex align-items-center">
							<i class="fa-solid fa-arrow-right"></i>
							<span class="small" style="padding-left: 5px;">Login</span>
						</span>
					</button>
				</div>
			</div>
		</nav>
		
		<!-- MAIN PAGE CONTENT -->
		<div class="page-container">
			<div class="content-wrap">
				{% block content %}
					<!-- separate pages extend this base and will be displayed here -->
				{% endblock %}
			</div>
		</div>

		<!-- MODALS -->

		<!-- Login Modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header bg-gradient-primary-to-secondary p-4">
						<h5 class="modal-title font-alt fs-4 lh-1 text-black text-center" id="loginModalLabel" style="font-weight: bold">Login to your account</h5>
						<button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body border-0 p-4">
						<form id="loginForm">
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Password input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="password" type="password" placeholder="password" data-sb-validations="required,password" />
                                <label for="phone">Password</label>
                                <div class="invalid-feedback" data-sb-feedback="password:required">A password is required.</div>
                            </div>
							<a href="#signUpModal" class="nav-link text-center mb-3">Don't have an account? Sign up here</a>
							<!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary rounded-pill btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Sign Up Modal -->
		<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header bg-gradient-primary-to-secondary p-4">
						<h5 class="modal-title font-alt fs-4 lh-1 text-black text-center" id="signUpModalLabel" style="font-weight: bold">Create an account</h5>
						<button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body border-0 p-4">
						<form id="signUpForm">
							<!-- Account type -->
							<div class="form-floating mb-3">
								<h5 class="text-center fs-5 text-black mb-0">Choose your account type</h5>
								<a href="#" class="nav-link text-center text-muted mb-3">Not sure? Click here to learn more <i class="fa-solid fa-arrow-right-long"></i></a>
								<div class="form-check form-check-inline">
									<input class="btn-check" type="checkbox" name="accountType" id="serviceProfessional" value="servicePro">
									<label class="btn btn-primary rounded-pill" for="serviceProfessional">Professional</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="btn-check" type="checkbox" name="accountType" id="thirdParty" value="thirdParty">
									<label class="btn btn-primary rounded-pill" for="thirdParty">Third Party</label>
								</div>
								<div class="form-check form-check-inline mb-2">
									<input class="btn-check" type="checkbox" name="accountType" id="client" value="client">
									<label class="btn btn-primary rounded-pill" for="client">Regular</label>
								</div>
							</div>
							<!-- Name input -->
							<div class="form-floating mb-3">
								<input class="form-control" id="name" type="text" placeholder="Enter your name ..." data-sb-validations="required"/>
								<label for="name">Full name</label>
								<div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
							</div>
							<!-- Company input -->
							<div class="form-floating mb-3">
								<input class="form-control" id="company" type="text" placeholder="Enter your company name ..." data-sb-validations="required"/>
								<label for="company">Company</label>
								<div class="invalid-feedback" data-sb-feedback="company:required">A company name is required.</div>
							</div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="password" type="password" placeholder="password" data-sb-validations="required,password" />
                                <label for="phone">Password</label>
                                <div class="invalid-feedback" data-sb-feedback="password:required">A password is required.</div>
                            </div>
							<a href="#loginModal" class="nav-link text-center mb-3">Already have an account? Login</a>
							<!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary rounded-pill btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- FOOTER CONTENT -->
		<div class="container-footer">
			<div class="container px-5">
				<footer class="py-5">
					<div class="row">
						<div class="col-2">
							<h5>Links</h5>
							<ul class="nav flex-column">
								<li class="nav-item mb-2">
									<a href="#" class="nav-link p-0 text-muted">Home</a>
								</li>
								<li class="nav-item mb-2">
									<a href="#" class="nav-link p-0 text-muted">Features</a>
								</li>
								<li class="nav-item mb-2">
									<a href="#" class="nav-link p-0 text-muted">Services</a>
								</li>
								<li class="nav-item mb-2">
									<a href="#" class="nav-link p-0 text-muted">Dashboard</a>
								</li>
							</ul>
						</div>
						<div class="col-2">
							<h5>About</h5>
							<ul class="nav flex-column">
								<li class="nav-item mb-2">
									<a href="#" class="nav-link p-0 text-muted">Privacy Policy</a>
								</li>
								<li class="nav-item mb-2">
									<a href="#" class="nav-link p-0 text-muted">Terms of Use</a>
								</li>
								<li class="nav-item mb-2">
									<a href="#" class="nav-link p-0 text-muted">Legal</a>
								</li>
								<li class="nav-item mb-2">
									<a href="#" class="nav-link p-0 text-muted">Sitemap</a>
								</li>
							</ul>
						</div>
						<div class="col-2">
							<h5>Support</h5>
							<ul class="nav flex-column">
								<li class="nav-item mb-2">
									<a href="#" class="nav-link p-0 text-muted">Account</a>
								</li>
								<li class="nav-item mb-2">
									<a href="#" class="nav-link p-0 text-muted">Contact</a>
								</li>
								<li class="nav-item mb-2">
									<a href="#" class="nav-link p-0 text-muted">Newsletter</a>
								</li>
								<li class="nav-item mb-2">
									<a href="#" class="nav-link p-0 text-muted">Documentation</a>
								</li>
							</ul>
						</div>
						<div class="col-4 offset-1">
							<form>
								<h5>Subscribe to our newsletter</h5>
								<p>Monthly digest of whats new and exciting from us.</p>
								<div class="d-flex w-100 gap-2">
									<label for="newsletter" class="visually-hidden">Email address</label>
									<input id="newsletter" type="text" class="form-control" placeholder="Email address">
									<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" type="button">Subscribe</button>
								</div>
							</form>
						</div>
					</div>
					<div class="d-flex justify-content-between py-4 my-4 border-top">
						<p>🇺🇸 Pittsburgh, PA © 2022  - <a href='/' style='font-family: var(--font-timelined-primary); text-decoration: none;'>www.timelined.live</a></p>
						<a href="/" class="footer-brand">timelined.live</a>
					</div>
				</footer>
			</div>
		</div>
	</body>
</html>
