{% extends "main/base.html" %}

{% block content %}

<!-- Mashead header -->
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6" style="margin-top: -50%;">
                <!-- Mashead text -->
                <div class="mb-2 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">The New Way to Schedule</h1>
                    <p class="lead fw-normal text-muted mb-5">Create beautiful timelines for your service and keep track of all your clients' progress in one place.</p>
                    <!-- brief overview -->
                    <ol style="margin-top: 4rem;" class="list-group-flush list-group-numbered">
                        <li class="list-group-item">
                            <h5 class="d-inline lh-1 mb-3">Create a Template</h5><br>
                            <p class="text-muted pt-3 mb-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam optio nihil nam magni cum deleniti, doloremque voluptas officia! Veniam hic neque enim. Deserunt reprehenderit nemo optio enim, iste non asperiores!</p>
                        </li>
                        <li class="list-group-item">
                            <h5 class="d-inline lh-1 mb-3">Invite Your Clients</h5><br>
                            <p class="text-muted pt-3 mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse provident cupiditate, quis natus non? Perspiciatis sapiente animi, vero dolorum ea perferendis libero modi, exercitationem repellat ad aliquid, delectus aperiam.</p>
                        </li>
                        <li class="list-group-item">
                            <h5 class="d-inline lh-1 mb-3">Update Your Progress</h5><br>
                            <p class="text-muted pt-3 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quibusdam minus nam atque numquam quis quidem. Libero reprehenderit, quos aliquid dicta, expedita ex, aut quisquam illo dolor sit accusamus ab.</p>
                        </li>
                        <li class="list-group-item">
                            <h5 class="d-inline lh-1 mb-3">Enjoy</h5><br>
                            <p class="text-muted pt-3 mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur architecto ipsa alias tempora commodi! Eum beatae fuga, id facere neque explicabo nisi et provident, laborum at nam incidunt, voluptas tenetur?</p>
                        </li>
                    </ol>
                </div>
                <!-- call to action -->
                <div class="mb-2 mb-lg-0 text-center text-lg-center">
                    <h4 class="d-inline lh-1 mb-3">Ready To Get Started?</h4>
                    <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0">
                        <span class="small">Sign Up</span>
                    </button>
                </div>
                <!-- page navigation -->
                <div class="page-nav" style="margin-top: 10rem;">
                    <a class="mt-3 text-center" style="color: #727272; text-decoration: none;" href="#features">Features</a>
                    <i class="fa-solid fa-arrow-down-long"></i>
                </div>
            </div>
            <div class="col-lg-6">
                {% load static %}
                <img src="{% static 'admin/img/hero-main.png' %}">
            </div>
        </div>
    </div>
</header>

<!-- App features section-->
<section id="features">
<h1 class="display-1 lh-1 mb-3 text-center">Features</h1>
<hr>
<div class="container px-5" style="margin-top: 2.5rem;">
    <div class="row gx-5 align-items-center">
        <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
            <div class="container-fluid px-5">
                <div class="row gx-5">
                    <div class="col-md-6 mb-5">
                        <!-- Feature item-->
                        <div class="text-center">
                            <i class="fa-solid fa-address-card icon-feature text-gradient d-block mb-3 fs-3"></i>
                            <h3 class="font-alt">Device Mockups</h3>
                            <p class="text-muted mb-0">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <!-- Feature item-->
                        <div class="text-center">
                            <i class="fa-solid fa-bars-progress icon-feature text-gradient d-block mb-3 fs-3"></i>
                            <h3 class="font-alt">Flexible Use</h3>
                            <p class="text-muted mb-0">Put an image, video, animation, or anything else in the screen!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-5 mb-md-0">
                        <!-- Feature item-->
                        <div class="text-center">
                            <i class="fa-solid fa-coins icon-feature text-gradient d-block mb-3 fs-3"></i>
                            <h3 class="font-alt">Free to Use</h3>
                            <p class="text-muted mb-0">As always, this theme is free to download and use for any purpose!</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Feature item-->
                        <div class="text-center">
                            <i class="fa-solid fa-envelopes-bulk icon-feature text-gradient d-block mb-3 fs-3"></i>
                            <h3 class="font-alt">Open Source</h3>
                            <p class="text-muted mb-0">Since this theme is MIT licensed, you can use it commercially!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-0">
            {% load static %}
            <img class="features-image" src="{% static 'admin/img/features.png' %}">
        </div>
    </div>
</div>
</section>
<br>
<br>

{% endblock %}
