{% extends "main/base.html" %}

{% block content %}

<!-- Mashead header -->
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6" style="margin-top: -120%;">
                <!-- Mashead text -->
                <div class="mb-2 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">The New Way to Schedule</h1>
                    <p class="lead fw-normal text-muted mb-5">Create beautiful timelines for your service and keep track of all your clients' progress in one place.</p>
                    <div class="page-nav">
                        <a class="mt-3 text-center" style="color: #727272; text-decoration: none;" href="#features">How?</a>
                        <i class="fa-solid fa-arrow-down-long"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                {% load static %}
                <img src="{% static 'admin/img/hero-main.png' %}">
            </div>
        </div>
    </div>
</header>

{% endblock %}
