{% extends "main/base.html" %}

{% block content %}

<!-- Mashead header -->
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6" style="margin-top: 0px;">
                <!-- Mashead text -->
                <div class="mb-2 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3" style="font-weight: bold;">The new way to schedule</h1>
                    <p class="lead fw-normal text-muted mb-5">Create beautiful timelines for your service and keep track of all your clients' progress in one place.</p>
                    <!-- brief overview -->
                    <ol style="margin-top: 2rem;" class="list-group-flush list-group-numbered">
                        <h3 style="margin-top: 5rem; padding-bottom: 2rem;" class="text-muted text-lg-start tp-5 lh-1 mb-1">How Does It Work?</h3>
                        <li class="list-group-item">
                            <h5 class="d-inline lh-1 mb-3">Create an account</h5><br>
                            <p class="text-muted pt-3 mb-3">Sign up as a service provider, third party, or as a client.</p>
                        </li>
                        <li class="list-group-item">
                            <h5 class="d-inline lh-1 mb-3">Create a template</h5><br>
                            <p class="text-muted pt-3 mb-3">Make a timeline detailing the steps of your service or transaction.</p>
                        </li>
                        <li class="list-group-item">
                            <h5 class="d-inline lh-1 mb-3">Invite your clients</h5><br>
                            <p class="text-muted pt-3 mb-3">A unique shareable link is generated for each timeline.</p>
                        </li>
                        <li class="list-group-item">
                            <h5 class="d-inline lh-1 mb-3">Update progress</h5><br>
                            <p class="text-muted pt-3 mb-3">All sides of the transaction update the timeline and know where they are at all times.</p>
                        </li>
                    </ol>
                </div>
                <!-- page navigation -->
                <!--
                <div class="page-nav" style="margin-top: 10rem;">
                    <a class="mt-3 text-center" style="color: #727272; text-decoration: none;" href="#features">Features</a>
                    <i class="fa-solid fa-arrow-down-long"></i>
                </div>
            -->
            </div>
            <div class="col-lg-6">
                {% load static %}
                <img style="width: 100%;" src="{% static 'admin/img/hero-main.png' %}">
            </div>
        </div>
        <div class="row gx-5 align-items-center">
            <!-- call to action -->
            <div class="col-lg-full mb-2 mb-lg-0 text-center text-lg-center" style="margin-top: 2rem;">
                <h4 class="d-inline lh-1 mb-3">* Ready to get started?</h4>
                <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0">
                    <span class="small">Sign up</span>
                </button>
                <p style="font-size: 15px; margin-top: 2rem;" class="text-center text-muted">*We are currently reviewing applications and will let you know if you are approved.</p>
            </div>
        </div>
    </div>
</header>

<!-- Quote/testimonial aside-->
<aside class="text-center testimonial" style="margin-top: -4%;">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1 text-black mb-4 grayscale-filter">Built with the latest technologies</div>
                <div class="container-fluid px-2" style="margin-top: 2.5rem">
                    <div class="row gx-5 mt-0 align-items-center">
                        <div class="col-lg-3">
                            <div class="text-center">    
                                {% load static %}
                                <img class="logos-overlay fs-3 grayscale-filter" src="{% static 'admin/img/django-logo.png' %}">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="text-center">    
                                {% load static %}
                                <img class="logos-overlay fs-3 grayscale-filter" src="{% static 'admin/img/NGINX-logo.png' %}">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="text-center">    
                                {% load static %}
                                <img class="logos-overlay fs-3 grayscale-filter" src="{% static 'admin/img/MongoDB-Logo.png' %}">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="text-center">    
                                {% load static %}
                                <img style="transform: scale(1.3);" class="logos-overlay fs-3 grayscale-filter" src="{% static 'admin/img/google-cloud-logo.svg' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>

<!-- App features section-->
<section id="features" style="margin-top: 10rem;">
<h1 class="display-4 lh-1 mb-3 text-center" style="font-weight: bold;">Optimize your schedule and save time</h1>
<hr>
<div class="container px-5" style="margin-top: 1rem;">
    <div class="row gx-5 align-items-center">
        <div class="col-lg-7 order-lg-1 mb-5 mb-lg-0">
            <div class="container-fluid px-5">
                <div class="row gx-5">
                    <div class="col-md-6 mb-5">
                        <!-- Feature item-->
                        <div class="text-center">
                            <i class="fa-solid fa-address-card icon-feature text-gradient d-block mb-3 fs-3"></i>
                            <h3 class="font-alt">Device mockups</h3>
                            <p class="text-muted mb-0">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <!-- Feature item-->
                        <div class="text-center">
                            <i class="fa-solid fa-bars-progress icon-feature text-gradient d-block mb-3 fs-3"></i>
                            <h3 class="font-alt">Flexible use</h3>
                            <p class="text-muted mb-0">Put an image, video, animation, or anything else in the screen!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-5 mb-md-0">
                        <!-- Feature item-->
                        <div class="text-center">
                            <i class="fa-solid fa-coins icon-feature text-gradient d-block mb-3 fs-3"></i>
                            <h3 class="font-alt">Free to use</h3>
                            <p class="text-muted mb-0">As always, this theme is free to download and use for any purpose!</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Feature item-->
                        <div class="text-center">
                            <i class="fa-solid fa-envelopes-bulk icon-feature text-gradient d-block mb-3 fs-3"></i>
                            <h3 class="font-alt">Open source</h3>
                            <p class="text-muted mb-0">Since this theme is MIT licensed, you can use it commercially!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 order-lg-0 position-relative">
            {% load static %}
            <img class="position-relative start-0 features-image" src="{% static 'admin/img/features.png' %}">
        </div>
    </div>
</div>
</section>

<!-- Sign Up -->
<section id="signup" style="margin-top: 7.5rem">
    <div class="container signup-container">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 text-center">
                <h4 style="margin-top: -20%; font-weight: bold;" class="display-4 lh-1 mb-3 text-lg-center">Ready to get started?</h4>
                <p class="text-center text-black mt-0">Build your first timeline today.</p>
                <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0 mt-0">
                    <span class="small">Sign up</span>
                </button>
                <a href="#" class="d-inline ms-4 pt-0 text-white" style="text-decoration: none; margin-top: 10rem;">Have a question? <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
            <div class="col-lg-6">
                <img style="width: 120%; margin-left: 6rem;" src="https://doodleipsum.com/700/abstract?i=3628ed72497c3380a9d8ed5b28324b4e" alt="Color Comp by Pablo Stanley" />
            </div>
        </div>
    </div>
</section>
<br>
<br>

{% endblock %}
